.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    justify-content: space-between;
    background-color: #FFF5EA;
}
.commonHeaderFooter{
    background-color: dark;
    background-image: linear-gradient(to right, darkslategray, darkslateblue 200%);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block: 10px;
    padding-inline: 40px;
    justify-content: space-between;
}

/* Header styles */

.header{
    height:100px;
}

.header button{
    font-weight: bold;
    color: darkslategray;
    background-color: white;
}

.login_button{
    font-size: 25px;
    padding-inline:30px;
    padding-block: 10px;
    border-radius: 10px;
}

.logout_button{
    font-size: 15px;
    width:100%;
    padding-inline:20px;
    padding-block: 5px;
    border-radius: 10px;
}

.game_title{
    font-family: 'Monotype Corsiva',  serif;
    font-style: italic;
    font-size: 60px;
}

/* Footer styles */

.footer{
    height:60px;
}

.git_cont{
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}

.git_cont h3{
    color: white;
    font-weight: bold;
}

.git_logo{
    height: 50px;
}

/* Login form styles */

.login_form_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_form{
    padding:15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:40px;
    margin:0;
    width: 400px;
    align-self: center;
    border: 1px solid darkslategray;
    border-radius: 20px;
    padding-block: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.login_form h4{
    margin:0;
}

.login_field h4, h5{
    margin:0;
}

.login_field h5{
    color: red;
}
.login_title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_title h4{
    font-weight: normal;
}
.login_title .estimathon_style{
    font-style: italic;
}

.login_fields{
    align-items: left;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.login_field input{
    width:250px;
    margin-top:5px;
    height: 25px;
}

.login_form button{
    font-size: 20px;
    background-color: white;
    border-radius: 10px;
    padding-inline: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {

    /* header and footer styles */

    .commonHeaderFooter{
        flex-direction: column;
        padding-inline: 10px;
    }
    .commonHeaderFooter h3{
        font-size: 15px;
        text-align: center;
    }
    .header{
        height:auto;
        gap:10px;
    }

    .header button{
        font-weight: bold;
        color: darkslategray;
        background-color: white;
        font-size: 15px;
        padding-inline:10px;
        padding-block: 5px;
        border-radius: 10px;
    }
    .game_title{
        font-size: 40px;
        margin: 0;
    }
    .footer{
        height:auto;
    }
    .git_cont{
        margin-top: -20px;
    }

    /* login form styles */
    .login_form{
        width: auto;
        border: none;
        box-shadow: none;
    }
    
}